* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Segoe UI", Arial, sans-serif;
    background-color: #f5f7fa;
    color: #333;
    line-height: 1.6;
    padding: 30px;
}

p {
    max-width: 1000px;
    margin: 15px auto;
    font-size: 1.4rem;
}

h2{
    text-align: center;
    font-weight: bold;
    margin-bottom: 25px;
    font-size: 30px;
}