.tituloDescripcion {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: #0f172a;
}

.descripcion {
    background-color: white;
    padding: 35px;
    border-radius: 18px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.12);
    transition: transform 0.25s ease, background-color 0.25s ease;
}

.descripcion:hover {
    transform: translateY(-5px);
}

.descripcion ol {
    margin-top: 15px;
    padding-left: 25px;
}

.descripcion li {
    margin-bottom: 8px;
    font-size: 1.2rem;
    max-width: 1000px;
}

.descripcion p {
    font-size: 1.2rem;
    max-width: 1000px;
    margin: 10px 0;
}

.descripcion.activa {
    border-left: 8px solid #2563eb;
    background-color: #fafbfc;
}

.descripcion.activa .flecha {
    transform: rotate(180deg);
}


.descripcion.activa .contenido-algoritmo {
    display: block;
}

.descripcion[data-algoritmo="bubble"] {
    border-left: 6px solid #38bdf8;
}

.descripcion[data-algoritmo="selection"] {
    border-left: 6px solid #22c55e;
}

.descripcion[data-algoritmo="insertion"] {
    border-left: 6px solid rgb(238, 238, 6);
}

.descripcion[data-algoritmo="quick"] {
    border-left: 6px solid #f59e0b;
}

.descripcion[data-algoritmo="merge"] {
    border-left: 6px solid #ef4444;
}

/*-------------------------------------------*/

#clasificaciones ul{
    margin-top: 15px;
    padding-left: 25px;
}

#clasificaciones li{
    margin-bottom: 8px;
    font-size: 1.2rem;
    max-width: 1000px;
}

/*-------------------------------------------*/

.header-algoritmo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.contenido-algoritmo {
    margin-top: 15px;
    display: none;
}

.flecha {
    font-size: 1.6rem;
    transition: transform 0.3s ease;
}

/*-------------------------------------------*/

.bloque-entrada {
    display: flex;
    flex-direction: column;
    align-items: center;   
    gap: 8px;
    max-width: 600px;
    margin: 0 auto 40px auto;
}

.bloque-entrada label {
    font-weight: 600;
    font-size: 1.1rem;
    text-align: center;
}

.bloque-entrada input {
    width: 100%;
    max-width: 500px;
    padding: 14px 16px;
    font-size: 1.1rem;
    border-radius: 12px;
    border: 2px solid #cbd5f5;
    outline: none;
    text-align: center;
}

.bloque-entrada input:focus {
    border-color: #2563eb;
}

.bloque-entrada small {
    font-size: 0.95rem;
    color: #64748b;
    text-align: center;
}

/*-------------------------------------------*/

.bloque-algoritmos {
    text-align: center;
    margin-bottom: 20px;

}

.label-algoritmos{
    font-weight: bold;
}

.botones-algoritmos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.btn-algoritmo {
    padding: 10px 18px;
    border-radius: 999px;
    border: 2px solid #cbd5f5;
    background-color: white;
    cursor: pointer;
    transition: all 0.2s ease;
}

.btn-algoritmo:hover {
    background-color: #e0e7ff;
}

.btn-algoritmo.activo {
    background-color: #2563eb;
    color: white;
    border-color: #2563eb;
}

.btn-ordenar {
    padding: 14px 30px;
    border-radius: 999px;
    background-color: #2563eb;
    color: white;
    cursor: pointer;
    margin: 30px 0 auto;
}

.btn-ordenar:hover{
    background-color: #4479eb;
}

/*-------------------------------------------*/

.bloque-resultados {
    margin-top: 40px;
    padding: 30px;
    background-color: white;
    border-radius: 25px;
    border: 2px dashed #cbd5f5;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    animation: aparecer 0.4s ease;
}

#resultado-texto{
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 30px;
}

.salida-wrapper {
    align-items: center;
    gap: 20px;
    margin-top: 15px;
}

.salida-array {
    margin: 20px auto;
    padding: 15px 25px;
    font-size: 1.3rem;
    background-color: #f1f5f9;
    border-radius: 15px;
    text-align: center;
    font-weight: 500;
}

.btn-clear {
    display: block;
    margin: 30px auto 0;
    padding: 12px 28px;
    border-radius: 999px;
    border: none;
    background-color: #ef4444;
    color: white;
    cursor: pointer;
}

.btn-clear:hover {
    opacity: 0.85;
}

.hidden {
    display: none;
}

.info-tecnica{
    margin-top: 30px;
}

#detalles-tecnicos{
    text-decoration: underline;
    margin-bottom: 10px;
    font-weight: bold;
}

.info-tecnica ul {
    list-style: none;
    padding: 0;
}

.info-tecnica li {
    padding: 6px 0;
    border-bottom: 1px solid #e5e7eb;
}

.placeholder {
    font-size: 1.4rem;
    background-color: #c2cedf;
    padding: 12px 20px;
    border-radius: 12px;
}

/*-------------------------------------------*/

