/*----VECTOR EJEMPLO-----*/

.ejemplo-ordenamiento {
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    animation: aparecer 0.6s ease;
}

.array {
    display: flex;
    border: 2px solid #334155;
    border-radius: 10px;
    overflow: hidden;
}

.elemento {
    padding: 15px 20px;
    font-size: 1.4rem;
    font-weight: bold;
    background-color: #e2e8f0;
    border-right: 2px solid #334155;
}

.elemento:last-child {
    border-right: none;
}

.flecha-ejemplo {
    font-size: 2rem;
    color: #334155;
}

.array.ordenado .elemento {
    background-color: #bbf7d0;    
}

.elemento:hover {
    background-color: #93c5fd;
}

.array.ordenado .elemento:hover {
    background-color: #19e05f;    
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*----------------------*/

.modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal.hidden {
    display: none;
}

.modal-contenido {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    max-width: 700px;
    width: 90%;
    position: relative;
    animation: aparecerModal 0.3s ease;
}

#modal-cerrar {
    position: absolute;
    top: 12px;
    right: 18px;
    font-size: 1.8rem;
    cursor: pointer;
}

.link-modal {
    cursor: pointer;
    font-weight: 500;
    text-decoration: underline;
}

@keyframes aparecerModal {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}